<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1><%= @student.full_name %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Top Selects</h2>
  </div>
</div>
<%= render "photos/photo_grid" %>
<%= render "photos/photo_modals" %>
