<nav>
  <ul class="pagination">
    <% if @page > 1 %>
      <li>
        <%= link_to "Previous", album_path(@album, category: @category, page: @page - 1) %>
      </li>
    <% end %>
    <% (1..@photos.total_pages).each do |page| %>
      <% if @page != page %>
        <li>  
          <%= link_to page, album_path(@album, category: @category, page: page) %>
        </li>
      <% else %>
        <li class="active">
          <%= link_to page, "#" %>
        </li>
      <% end %>
    <% end %>
    <% if @page < @photos.total_pages %>
    <li>
      <%= link_to "Next", album_path(@album, category: @category, page: @page + 1) %>
    </li>
  <% end %>
  </ul>
</nav>
