<% @photos.each_slice(4) do |photo_slice| %>
  <div class="row">
    <% photo_slice.each do |photo| %>
      <div class="col-sm-3">
        <div class="image-container">
          <a href="#" data-toggle="modal" data-target="#<%= photo_modal_id(photo) %>">
            <%= image_tag(attachment_url(photo, :image, :limit, 300, 300, fallback: "default_photo_image.png"), width: "100%") %>
          </a>
        </div>
        <% if photo.name %>
          <p><em><%= photo.name %></em></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if photo_slice.last != @photos.last %>
    <hr/>
  <% end %>
<% end %>
